
// Colors
$dark-grayish-blue-900: hsl(217, 19%, 35%);
$desaturated-dark-blue-500: hsl(214, 17%, 51%);
$grayish-blue-400: hsl(212, 23%, 69%);
$light-grayish-blue-200: hsl(210, 46%, 95%);
$White: hsl(0, 0%, 100%);

body {
    background-color: $light-grayish-blue-200;
}

.wrapper {
    background-color: $White;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.50);
}