@use 'colors' as c;

body {
    $fs-primary: 13px;
    font-size: $fs-primary;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: c.$desaturated-dark-blue-500;
    letter-spacing: 0.001rem;
}

h1, h2, h3 {
    font-weight: 700;
    color: c.$dark-grayish-blue-900;
}

.heading{
    font-size: 1.25rem;
    line-height: 130%;
    letter-spacing: 0.01563rem;
}

h2 {
    font-size: 0.8125rem;
    line-height: 140%;
}

.date {
    font-size: 0.8125rem;
    color: c.$grayish-blue-400;
    line-height: 140%;
}