@use '../globals/colors' as c;

.modal-page {

    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.modal-container {
    width: 20.4375rem;
    height: 33.625rem;
    border-radius: 0.625rem;   
    position: absolute;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    // background-color: rgba(16,16,16, 0.8);
    top: 0;

    &__content {
        width: 100%;
        height: 4.75rem;
        max-width: 100%;
        background-color: c.$dark-grayish-blue-900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        bottom: 0;
        position: absolute;
    }
}

.share-heading, a  {
    color: c.$grayish-blue-400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8125rem;
}

.social-sharing-flexbox {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem;
}

.modal-share-button {
    margin-right: 2rem;
    fill: c.$White;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: c.$desaturated-dark-blue-500;
}

.modal-share-button:hover {
    cursor: pointer;
    background-color: c.$light-grayish-blue-200;
}