

.body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20.4375rem;
    height: 33.625rem;
    border-radius: 0.625rem;   
}

.img-container {
    width: 20.4375rem;
    height: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
    background: url(../images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -1rem;
}

.description-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.heading {
    width: 16.6875rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-inline: 2rem;
}

.text-box {
    white-space-collapse: collapse;
    margin-inline: 2rem;
}

.profile-pic {
    border-radius: 50%;
}

.social-container {
    margin-top: 3rem;
    margin-inline: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    width: 10.75rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
