@forward 'card-layout';
@use '../globals/colors' as c;

@media screen and (min-width: 48rem) {
    .wrapper {
        width: 38rem;
        height: 21.625rem;
        flex-direction: row;
    }

    .img-container {
        width: 14rem;
        background-position: 0rem;
        background-size: 16.5625rem 100%;
        padding: 0;
        border-radius: 0.625rem 0 0 0.625rem;
    }

    .description-box {
        width: 22.4375rem;
        padding: 0;
        margin-top: -1rem;
        margin-bottom: -0.5rem;
        margin-inline: 1.78125rem;
        margin-left: 0;
        
    }

    .heading {
        width: 19.5375rem;
        white-space: pre-line;
        margin-top: -1rem;
    }

    .text-box {
        width: 19.4375rem;
    }

    .social-container {
        width: 19.9375rem;
        margin-top: 1.5rem;
    }

    .modal-container {
        display: none;
        width: 15.5rem;
        height: 12.5rem;
        margin-left: 32.35rem;
        margin-top: 5rem;
    }

    .modal {
        display: none;
    }

    .modal__content {
        height: 4.1875rem;
        bottom: 4.5rem;
        border-radius: 0.625rem;
    }

    .modal-container::after {
        content: '';
        position: absolute;
        border: 1rem solid transparent;
        border-top-color: c.$dark-grayish-blue-900;
        border-bottom: 0;
        margin-left: 6.4rem;
        bottom: 3.6rem;
    }

    .social-sharing-flexbox {
        width: 100%;
        padding: 1.12rem 2.38rem;
    }

    .modal-share-button {
        display: none;
    }
}

@media screen and (min-width: 90rem) {
    
    .wrapper {
        width: 45.625rem;
        height: 17.5rem;

    }

    .description-box {
        width: 25.4375rem;
        margin-left: 0.5rem;
    }

    .img-container {
        width: 19.4375rem;
        background-size: 22.375rem 100%;
        background-position-x: -0.5rem;
    }
    
    .heading, .text-box, .social-container {
        width: 22.8125rem;
    }

    .modal-container {
        margin-left: 39.5rem;
        margin-top: 3rem;
    }

    .modal-share-button {
        z-index: 1;
    }

}